# User Input

In [1]:
a = 21
print(a)

21

In [2]:
a = input() # always returns string
print(a)

Sajjad
Sajjad

In [4]:
a = int(input('Enter a number: ')) # always returns string
print(a + 23)

Enter a number: 52
75

In [5]:
name = input('Enter your name: ') # always returns string
print('Your name is ' + name)

Enter your name: Sajjad
Your name is Sajjad

# Loop

In [34]:
numbers = [1, 56, 78, 8]

for n in numbers:
    print(n)
    print('ok')
print('not')

1
ok
56
ok
78
ok
8
ok
not

In [35]:
for i in range(len(numbers)):
    print(numbers[i])

1
56
78
8

In [36]:
# for(i=0; i<10; i++){}
# range
for i in range(2,100,5):
    print(i, end = ' ')

2 7 12 17 22 27 32 37 42 47 52 57 62 67 72 77 82 87 92 97

In [37]:
# print even number
for i in range(0,10,2):    
    print(i)

0
2
4
6
8

In [38]:
# print even number
for i in range(10):  
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [39]:
# print even number
for i in range(10):  
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8

In [40]:
# indent
i = 7
if i < 5: # () not required, {} not required
    print('okay')
    print('fine')
else:
    print('bad')
print('not okay') # will be executed in each run

bad
not okay

In [41]:
# loop
for i in range(10,100,10):
    print(i)
    print("ok")
print("done")

10
ok
20
ok
30
ok
40
ok
50
ok
60
ok
70
ok
80
ok
90
ok
done

In [42]:
myjob = "bangladesh"
for c in 'myjob': 
    print(c,end='\n')

m
y
j
o
b

# IF, IF ELSE, ELSE IF

In [43]:
# if
a = 1
if a > 2:
    print ('greater')

In [44]:
# if-else
a = 1
if a > 2:
    print ('greater')
else:
    print( 'smaller')

smaller

In [45]:
a = 77
if a < 10:
    print('small')
elif a < 20:
    print('medium')
elif a < 50:
    print('larger')
else:
    print('out of range')

out of range

# Method

In [46]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [47]:
addnumbers(8, 9) # use or call method

17

In [48]:
addnumbers(33, 66)

99

In [2]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + n
    return sum

In [3]:
addValues([])

0

In [50]:
v = [5, 4,12, 7]
addValues(v)

28

In [51]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
addValues(v)

84

In [52]:
# task: write a method which will add numbers of two different lists
# returns another list
# Example:
# [3,4,5,1]
# [6,7,2,8]
# output: [9,11,7,9]


list1 = [3,4,5,1]
list2 = [6,7,2,8]
final_list = [list1[i] + list2[i] for i in range(len(list1))]
print(final_list)

[9, 11, 7, 9]

In [53]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}X{}={}".format(n,i,n*i))

In [54]:
multiTable(17,15)

17X1=17
17X2=34
17X3=51
17X4=68
17X5=85
17X6=102
17X7=119
17X8=136
17X9=153
17X10=170
17X11=187
17X12=204
17X13=221
17X14=238
17X15=255

In [55]:
multiTable(5)

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [88]:
# task
# define a method to print first name and last name from full name

# ex: input: Arafat Rahman 
# output: 
#first name: Arafat
#last name: Rahman

# getNames('Arafat Rahman')
def getNames(name):

    name = name.partition(" ")
    firstName = name[0]
    lastName = name[2:]
    return {"FirstName":firstName, "LastName": lastName}
        #define logic

In [86]:
getNames('Arafat Rahman')

{'FirstName': 'Arafat', 'LastName': ('Rahman',)}

In [87]:
getNames('Sajjadul Islam Juel')

{'FirstName': 'Sajjadul', 'LastName': ('Islam Juel',)}

## Lesson 2 (String)

In [90]:
s1 = ''
s2 = "spam's"
block = """..."""
s3 = r'\temp\spam'
s4 = u'spam'

In [91]:
s1 + s2

"spam's"

In [92]:
s2 * 3

"spam'sspam'sspam's"

In [93]:
s2[0]

's'

In [94]:
s2[1:3]

'pa'

In [95]:
len(s2)

6

In [96]:
"a %s parrot" % type

"a <class 'type'> parrot"

In [97]:
s2.find('pa')

1

In [98]:
s2.rstrip( )

"spam's"

In [99]:
s2.replace('pa', 'xx')

"sxxm's"

In [100]:
s1.split(',')

['']

In [101]:
s1.isdigit( )

False

In [102]:
s1.lower( )

''

In [104]:
for x in s2 :
    'spam' in s2

In [105]:
'shrubbery', "shrubbery"

('shrubbery', 'shrubbery')

In [106]:
'knight"s', "knight's"

('knight"s', "knight's")

In [107]:
title = "Meaning " 'of' " Life"

In [108]:
title

'Meaning of Life'

In [109]:
'knight\'s', "knight\"s"

("knight's", 'knight"s')

In [110]:
 s = 'a\nb\tc'

In [111]:
s

'a\nb\tc'

In [113]:
print (s)

a
b	c

In [114]:
len(s)

5

In [115]:
s = 'a\0b\0c'

In [116]:
s

'a\x00b\x00c'

In [117]:
s = '\001\002\x03'

In [118]:
s

'\x01\x02\x03'

In [119]:
len(s)

3

# Lesson 3

In [5]:
L1 = [] 
L2 = [0, 1, 2, 3] 
L3 = ['abc', ['def', 'ghi']]
L4='Hossain'

In [12]:
print(L4.split('s')[-1])

ain

In [122]:
L2[2]

2

In [123]:
L3[0][2]

'c'

In [124]:
L2[0:3]

[0, 1, 2]

In [125]:
len(L2)

4

In [126]:
L1 + L2

[0, 1, 2, 3]

In [127]:
L2 * 3

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [131]:
for x in L2:3 in L2

In [132]:
L2.append(4)

In [133]:
L2.extend([5,6,7])

In [134]:
L2.sort( )

In [135]:
L2.index(1)

1

In [139]:
L2.insert(0, 9)

In [140]:
L2.reverse( )

In [143]:
del L2[2]

In [144]:
del L2[1:3]

In [145]:
L2.pop( )

9

In [146]:
L2.remove(2)

In [147]:
L2[2:6] = []

In [150]:
L2[1] = 1

In [151]:
L2[2:5] = [4,5,6]

In [152]:
range(4)

range(0, 4)

In [156]:
range(0, 4)

range(0, 4)

In [157]:
L4 = [x**2 for x in range(5)]

In [158]:
len([1, 2, 3])

3

In [159]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [160]:
 ['Ni!'] * 4

['Ni!', 'Ni!', 'Ni!', 'Ni!']

In [161]:
3 in [1, 2, 3]

True

In [162]:
for x in [1, 2, 3]: print (x),...

1
2
3

In [163]:
str([1, 2]) + "34"

'[1, 2]34'

In [164]:
[1, 2] + list("34")

[1, 2, '3', '4']

In [165]:
 L = ['spam', 'Spam', 'SPAM!']

In [166]:
L[2]

'SPAM!'

In [167]:
L[-2]

'Spam'

In [168]:
L[1:]

['Spam', 'SPAM!']

In [169]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [170]:
matrix[1]

[4, 5, 6]

In [171]:
matrix[1][1]

5

In [172]:
matrix[2][0]

7

In [173]:
matrix = [[1, 2, 3],
... [4, 5, 6],
... [7, 8, 9]]

In [174]:
matrix[1][1]

5

In [175]:
L = ['spam', 'Spam', 'SPAM!']

In [176]:
L[1] = 'eggs'

In [177]:
 L

['spam', 'eggs', 'SPAM!']

In [178]:
L[0:2] = ['eat', 'more']

In [179]:
L

['eat', 'more', 'SPAM!']

In [180]:
L.append('please')

In [181]:
L.sort( )

In [182]:
L

['SPAM!', 'eat', 'more', 'please']

In [183]:
L = [1, 2]

In [184]:
L.extend([3,4,5])

In [185]:
L.pop( )

5

In [186]:
L

[1, 2, 3, 4]

In [187]:
L.reverse( )

In [188]:
L

[4, 3, 2, 1]

In [189]:
 L = []

In [190]:
L.append(1)

In [191]:
L.append(2)

In [192]:
L

[1, 2]

In [193]:
L.pop( )

2

In [194]:
L

[1]

In [195]:
L = ['Already', 'got', 'one']

In [196]:
 L[1:] = []

In [197]:
L

['Already']

In [198]:
L[0] = []

In [199]:
L

[[]]

In [200]:
D1 = {}

In [201]:
D2 = {'spam': 2, 'eggs': 3}

In [202]:
D3 = {'food': {'ham': 1, 'egg': 2}}

In [203]:
D2['eggs']

3

In [204]:
D3['food']['ham']

1

In [209]:
'eggs' in D2

True

In [210]:
D2.keys( )

dict_keys(['spam', 'eggs'])

In [211]:
D2.values( )

dict_values([2, 3])

In [214]:
D2.update(D1)

In [220]:
D6 = dict(name='Bob', age=42)

# Lesson 4 (Tuples)

In [221]:
( )

()

In [222]:
t1 = (0,)

In [223]:
t2 = (0, 'Ni', 1.2, 3)

In [224]:
t2 = 0, 'Ni', 1.2, 3

In [225]:
t3 = ('abc', ('def', 'ghi'))

In [228]:
t1[0]

0

In [229]:
t3[0][2]

'c'

In [230]:
t1[0:2]

(0,)

In [231]:
len(t1)

1

In [232]:
t1 + t2

(0, 0, 'Ni', 1.2, 3)

In [233]:
t2 * 3

(0, 'Ni', 1.2, 3, 0, 'Ni', 1.2, 3, 0, 'Ni', 1.2, 3)

In [234]:
(1, 2) + (3, 4)

(1, 2, 3, 4)

In [235]:
(1, 2) * 4

(1, 2, 1, 2, 1, 2, 1, 2)

In [236]:
T = (1, 2, 3, 4)

In [237]:
T[0], T[1:3]

(1, (2, 3))

In [238]:
x = (40)

In [239]:
x

40

In [240]:
y = (40,)

In [241]:
y

(40,)

In [242]:
T = ('cc', 'aa', 'dd', 'bb')

In [243]:
tmp = list(T)

In [244]:
tmp.sort( )

In [245]:
tmp

['aa', 'bb', 'cc', 'dd']

In [246]:
T = tuple(tmp)

In [247]:
T

('aa', 'bb', 'cc', 'dd')

In [248]:
 T = (1, 2, 3, 4, 5)
 L = [x + 20 for x in T]

In [249]:
L

[21, 22, 23, 24, 25]

In [251]:
myfile = open('myfile', 'w')

In [252]:
myfile.write('hello text file\n')

16

In [253]:
myfile.close( )

In [254]:
myfile = open('myfile')

In [255]:
myfile.readline( )

'hello text file\n'

In [256]:
myfile.readline( )

''

In [257]:
F = open('datafile.txt', 'w')

In [258]:
import pickle

In [263]:
F.close( )

''

In [264]:
F = open('datafile.txt')

In [268]:
F = open('data.bin', 'wb')

In [269]:
import struct

In [271]:
bytes

bytes

In [273]:
 F.close( )