# Example of Number operations

In [1]:
34 - 45

-11

In [1]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']

In [2]:
data[-3][1]

89000

In [2]:
12 + 89

101

In [5]:
a = 123 / 22
print(a)

5.590909090909091

In [6]:
b = a*8
print(b)

44.72727272727273

In [36]:
2 ** 5

32

In [37]:
121 + 788

909

In [38]:
 1.6 * 5

8.0

In [39]:
5 ** 7

78125

In [40]:
3.1415 * 4

12.566

In [41]:
print (3.1415 * 4)

12.566

# Import Class

In [43]:
import math
math.pi

3.141592653589793

In [10]:
math.sqrt(15)

3.872983346207417

In [11]:
print(1+2)
print(a*4)
print(a/b)

3
22.363636363636363
0.125

In [44]:
math.sqrt(50)

7.0710678118654755

In [45]:
import random
random.random( )

0.4934006314691394

In [46]:
random.choice([7,9,3,2,1])

7

# Check object type

In [13]:
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [14]:
c = 123
print(type(c))

<class 'int'>

In [15]:
d = '123'
print(type(d))

<class 'str'>

# Example of String operations

In [5]:
name = 'asif "rahman'
print(name)

asif "rahman

In [3]:
name = "asif 'rahman"
print(name)

asif 'rahman

In [22]:
'asif ' * 5

'asif asif asif asif asif asif asif '

In [24]:
'asif '+'rahman'

'asif rahman'

In [11]:
name = 'Afsar Mahmud sayed'
sub = 'sar'
name.count(sub)

1

In [17]:
name[0:5]

'Afsar'

In [56]:
name[-3:]

'yed'

In [33]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [34]:
name.islower()

False

In [35]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.splitlines()

['I am right', 'He is fine', 'This it okay']

In [20]:
separator = '=='
mystrings = ['Himel', 'Liton', 'Hasan']
separator.join(mystrings)

'Himel==Liton==Hasan'

In [38]:
help(mystring.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [47]:
S = 'Dhaka'

In [48]:
len(S)

5

In [49]:
S[3]

'k'

In [51]:
S[4]

'a'

In [52]:
S[-2]

'k'

In [53]:
S[-4]

'h'

In [54]:
S[-1]

'a'

In [55]:
S[len(S)-3]

'a'

In [56]:
S

'Dhaka'

In [57]:
S[2:5]

'aka'

In [59]:
 S[3:]

'ka'

In [60]:
S

'Dhaka'

In [61]:
S[0:2]

'Dh'

In [62]:
S[:4]

'Dhak'

In [63]:
S[:-3]

'Dh'

In [64]:
S[:]

'Dhaka'

In [65]:
S

'Dhaka'

In [66]:
S + ' Dacca'

'Dhaka Dacca'

In [67]:
S

'Dhaka'

In [68]:
S * 5

'DhakaDhakaDhakaDhakaDhaka'

In [78]:
S

'Dhaka'

In [79]:
S =  S[:3] + 'cc'+S[-1]

In [80]:
S

'Dhacca'

In [85]:
S.find('cc')

3

In [86]:
S

'Dhacca'

In [87]:
S.replace('cc', 'k')

'Dhaka'

In [88]:
S

'Dhacca'

In [89]:
line = 'Dha, Ctg,Bar, Syl'

In [90]:
line.split(',')

['Dha', ' Ctg', 'Bar', ' Syl']

In [91]:
S = 'dhaka'

In [92]:
S.upper( )

'DHAKA'

In [93]:
S.isalpha( )

True

In [94]:
line = 'Dha, Ctg,Bar, Syl\n'

In [95]:
line = line.rstrip( )

In [96]:
line

'Dha, Ctg,Bar, Syl'

In [97]:
dir(S)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [98]:
help(S.index)

Help on built-in function index:

index(...) method of builtins.str instance
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [99]:
S = 'D\nA\tK'

In [100]:
len(S)

5

In [101]:
ord('\n')

10

In [103]:
S = 'D\0A\0K'

In [104]:
len(S)

5

In [105]:
msg = """
aaaaaaaaaaaaa
bbb'''bbbbbbbbbb""bbbbbbb'bbbb
cccccccccccccc"""

In [106]:
msg

'\naaaaaaaaaaaaa\nbbb\'\'\'bbbbbbbbbb""bbbbbbb\'bbbb\ncccccccccccccc'

In [107]:
import re

In [108]:
match = re.match('Hello[ \t]*(.*)world', 'Hello Python world')

In [109]:
match.group(1)

'Python '

In [110]:
match = re.match('/(.*)/(.*)/(.*)', '/usr/home/lumberjack')

In [111]:
match.groups( )

('usr', 'home', 'lumberjack')

# List

In [4]:
data = [21,['rahman', 56000], 4.50, 'Dhaka']

In [5]:
data[0]

21

In [63]:
data[0:2]

[21, ['rahman', 56000]]

In [45]:
data[1]

['rahman', 56000]

In [46]:
data[1][0]

'rahman'

In [47]:
len(data)

4

In [50]:
data[-1]

'Dhaka'

In [64]:
data

[21, ['rahman', 56000], 4.5, 'Dhaka']

In [68]:
data.append(100)
print(data)

[21, ['rahman', 56000], 4.5, 'Dhaka', 100, 100]

In [72]:
data.remove(4.5)
print(data)

[21, ['rahman', 56000], 'Dhaka', 100, 100]

In [73]:
data.pop(1)
print(data)

[21, 'Dhaka', 100, 100]

In [66]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [112]:
L = [788, 'Dhaka', 3.92]

In [113]:
len(L)

3

In [114]:
L[2]

3.92

In [115]:
L[:-2]

[788]

In [116]:
L + [32,14]

[788, 'Dhaka', 3.92, 32, 14]

In [117]:
L

[788, 'Dhaka', 3.92]

In [118]:
L.append('Ctg')

In [119]:
L

[788, 'Dhaka', 3.92, 'Ctg']

In [120]:
L.pop(1)

'Dhaka'

In [121]:
L

[788, 3.92, 'Ctg']

In [54]:
M = ['Dha','Ctg','Ran']

In [55]:
M.sort( )

In [56]:
M

['Ctg', 'Dha', 'Ran']

In [125]:
M.reverse( )

In [126]:
M

['Ran', 'Dha', 'Ctg']

In [127]:
L

[788, 3.92, 'Ctg']

In [128]:
 L[2]

'Ctg'

In [129]:
M = [[1, 2, 3],
[4, 5, 6],
[7, 8, 9]]

In [130]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [131]:
M[2]

[7, 8, 9]

In [132]:
M[2][2]

9

In [133]:
col2 = [row[1] for row in M]

In [134]:
col2

[2, 5, 8]

In [135]:
 M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [136]:
[row[1] + 2 for row in M]

[4, 7, 10]

In [137]:
[row[1] for row in M if row[1] % 2 == 0]

[2, 8]

In [138]:
diag = [M[i][i] for i in [0, 1, 2]]

In [139]:
diag

[1, 5, 9]

In [140]:
doubles = [c * 2 for c in 'spam']

In [141]:
doubles

['ss', 'pp', 'aa', 'mm']

# Dictionary

In [27]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

In [28]:
person['Rating']

4.5

In [29]:
len(person)

4

In [30]:
#person.has_key('Name')
'Name' in person.keys()

True

In [79]:
'niaz' in person['Name']

True

In [80]:
dir(person)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [15]:
D = {'food': 'Apple', 'quantity': 7, 'color': 'green'}

In [16]:
D['food']

'Apple'

In [17]:
D['quantity'] += 2

In [18]:
D

{'food': 'Apple', 'quantity': 9, 'color': 'green'}

In [19]:
 D = {}

In [20]:
 D['name'] = 'Sajjad'

In [21]:
D['Occupation'] = 'Student'

In [22]:
D['age'] = 20

In [23]:
D

{'name': 'Sajjad', 'Occupation': 'Student', 'age': 20}

In [24]:
print (D['Occupation'])

Student

In [25]:
rec = {'name': {'first': 'Sajjad', 'last': 'Juel'},
'Occupation': ['Student', 'CSE','6th Sem'],
'age': 20.3}

In [26]:
rec['name']

{'first': 'Sajjad', 'last': 'Juel'}

In [27]:
rec['name']['last']

'Juel'

In [28]:
rec['Occupation']

['Student', 'CSE', '6th Sem']

In [29]:
rec['Occupation'][-2]

'CSE'

In [30]:
rec['Occupation'].append('AI')

In [60]:
D = {'c': 2, 'b': 4, 'a': 6}

In [61]:
D

{'c': 2, 'b': 4, 'a': 6}

In [62]:
Ks = D.keys( )

In [63]:
 Ks

dict_keys(['c', 'b', 'a'])

In [64]:
for key in Ks: print (key, '=>', D[key])

c => 2
b => 4
a => 6

In [67]:
 for c in 'BARISAL': print(c.upper( ))

B
A
R
I
S
A
L

In [36]:
squares = [x ** 2 for x in [1, 2, 3, 4, 5]]

In [37]:
squares

[1, 4, 9, 16, 25]

In [38]:
squares = []

In [39]:
for x in [1, 2, 3, 4, 5]:squares.append(x ** 2)

In [40]:
squares

[1, 4, 9, 16, 25]

In [41]:
 D

{'c': 2, 'b': 4, 'a': 6}

In [42]:
D['e'] = 99

In [43]:
D

{'c': 2, 'b': 4, 'a': 6, 'e': 99}

In [49]:
'c' in D.keys()

True

In [71]:
if not 'f' in D.key():print('missing')

missing